.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.primary {
  background-color: #000;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #000;
}

.danger {
  background-color: #dc3545;
  color: #fff;
}

.danger:hover {
  transition: 0.2s;
  background-color: #b92836;
}
