.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  img {
    max-width: 100%;
    aspect-ratio: 1/1;
    height: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    &__title {
      font-size: 24px;
      color: #000;
      font-size: 20px;
    }

    &__category {
      color: #707072;
      font-size: 16px;
    }
    &__price {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;

    &__info {
      &__title {
        font-size: 1.8vh;
      }

      &__category {
        font-size: 1.6vh;
      }

      &__price {
        font-size: 1.8vh;
      }
    }
  }
}
